In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [3]:
trips = pq.read_table('docker_sql/data/green_tripdata_2019-09.parquet')
df = trips.to_pandas()
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee TEXT,
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [4]:
pf = pq.ParquetFile('docker_sql/data/green_tripdata_2019-09.parquet')

flag = False
for batch in pf.iter_batches(batch_size=40000):
    table = pa.Table.from_batches([batch])
    df = table.to_pandas()
    
    if flag == False:
        df.to_sql(name='green_taxi_data', con=engine, if_exists='replace')
        flag = True
    else:
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    
    print("Finished another chunk.")

print("Finished ingesting data into the postgres database.")

Finished another chunk.
Finished another chunk.
Finished another chunk.
Finished another chunk.
Finished another chunk.
Finished another chunk.
Finished another chunk.
Finished another chunk.
Finished another chunk.
Finished another chunk.
Finished another chunk.
Finished another chunk.
Finished ingesting data into the postgres database.

In [9]:
df = pd.read_csv('docker_sql/data/taxi+_zone_lookup.csv')
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [11]:
print(pd.io.sql.get_schema(df, name='taxi_zone', con=engine))

CREATE TABLE taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

---

QUESTION 1

![hw1](_assets/hw1.png)

QUESTION 2

![hw2](_assets/hw2.PNG)

QUESTION 3

```
SELECT COUNT(*) 
FROM green_taxi_data
WHERE date(lpep_pickup_datetime) = '2019-09-18' AND date(lpep_dropoff_datetime) = '2019-09-18';
```

QUESTION 4

```
SELECT DISTINCT date(lpep_pickup_datetime) 
FROM green_taxi_data
WHERE trip_distance = (SELECT MAX(trip_distance) FROM green_taxi_data);
```

QUESTION 5

```
WITH subq AS (
	SELECT "total_amount", "Borough"
	FROM green_taxi_data JOIN taxi_zone ON "PULocationID" = "LocationID"
	WHERE date(lpep_pickup_datetime) = '2019-09-18' AND "Borough" != 'Unknown'
)
SELECT SUM("total_amount") as "Sum", "Borough"
FROM subq
GROUP BY "Borough"
ORDER BY "Sum" DESC;
```

QUESTION 6
```
WITH subq AS (
    SELECT "DOLocationID", "tip_amount"
    FROM green_taxi_data JOIN taxi_zone tza ON "PULocationID" = tza."LocationID"
    WHERE tza."Zone" = 'Astoria'
)
SELECT tzb."Zone" as drop_zone, MAX(tip_amount) as tip
FROM subq JOIN taxi_zone tzb ON "DOLocationID" = tzb."LocationID"
GROUP BY drop_zone
ORDER BY tip DESC
```

QUESTION 7
```
Terraform used the selected providers to generate the following execution
plan. Resource actions are indicated with the following symbols:
  + create

Terraform will perform the following actions:

  # google_bigquery_dataset.demo_dataset will be created
  + resource "google_bigquery_dataset" "demo_dataset" {
      + creation_time              = (known after apply)
      + dataset_id                 = "demo_dataset"
      + default_collation          = (known after apply)
      + delete_contents_on_destroy = false
      + effective_labels           = (known after apply)
      + etag                       = (known after apply)
      + id                         = (known after apply)
      + is_case_insensitive        = (known after apply)
      + last_modified_time         = (known after apply)
      + location                   = "EU"
      + max_time_travel_hours      = (known after apply)
      + project                    = "perfect-science-412620"
      + self_link                  = (known after apply)
      + storage_billing_model      = (known after apply)
      + terraform_labels           = (known after apply)
    }

  # google_storage_bucket.this-is-a-demo-bucket will be created
  + resource "google_storage_bucket" "this-is-a-demo-bucket" {
      + effective_labels            = (known after apply)
      + force_destroy               = true
      + id                          = (known after apply)
      + location                    = "EU"
      + name                        = "perfect-science-412620-demo-bucket"
      + project                     = (known after apply)
      + public_access_prevention    = (known after apply)
      + rpo                         = (known after apply)
      + self_link                   = (known after apply)
      + storage_class               = "STANDARD"
      + terraform_labels            = (known after apply)
      + uniform_bucket_level_access = (known after apply)
      + url                         = (known after apply)

      + lifecycle_rule {
          + action {
              + type = "AbortIncompleteMultipartUpload"
            }
          + condition {
              + age                   = 1
              + matches_prefix        = []
              + matches_storage_class = []
              + matches_suffix        = []
              + with_state            = (known after apply)
            }
        }
    }

Plan: 2 to add, 0 to change, 0 to destroy.

Do you want to perform these actions?
  Terraform will perform the actions described above.
  Only 'yes' will be accepted to approve.

  Enter a value:

```